@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(75, 3, 122);
}

.container {
    margin: 10px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.todo-list {
    min-height: 150vh;
    background: rgba(255, 255, 255, 0.637);
    box-shadow: 10px 10px 24px rgb(48, 0, 66);
    width:  500px;
    margin: auto;
}

.todo-list h1 {
    margin-top: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(75, 3, 122);
}

.todo-list i {
    font-size: 2rem;
    color: green;
}

.todo-input {
    text-align: center;
}

.todo-list input {
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(75, 3, 122);
    width: 70%;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.637);
}

.todo-items h2 {
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2rem;
    color: indigo;
}

@media(max-width:480px) {
    .todo-list h1{
        font-size: 2rem;
    }
    .todo-list i{
        font-size: 1.5rem;
    }
    .todo-list input{
        font-size: 1rem;
    }
    .todo-items h2{
        margin-left: 25px;
        font-size: 1.5rem;
    }
}